body{
    margin: 0;
    padding: 0;
}

.section-panel {
    display: flex;
    align-items: center;
    height:500px;
}

.content-panel {
    width: 100%;
    max-width: 250px !important;
    display: grid;
    justify-content: center;
    align-items: center;
}