.item-product{
    margin-bottom: .5rem;
}
.product-image{
    display: flex;
    justify-content: center;
    margin: 2px;
    padding-top: .9rem;
    background-color: #fff;
}
.add-cart-product {
    display: flex;
    justify-content: center;
}
.add-cart-product a {
    border-radius: 50px;
}

.sticky-top {
    background-color: #040606;
}

.sticky-top a{
    color: #fff;
    text-decoration: none;
}